
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: fit-content;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.images.flagged {
  border: 2px solid green;
}

.flag-button {
  background: gray;
}

.flag-button.flagged {
  background: green;
}

.flag-button-modal {
  background: gray;
}

.flag-button-modal.flagged {
  background: green;
}


.addfolder {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitbtn {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addfolder:hover {
  background-color: #0056b3;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dcdcdc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  z-index: 9999;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
  z-index: 9999;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  z-index: 9999;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  z-index: 9999;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -200%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 999;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}


.folder {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.foldername {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.foldername-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.fixednames{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.images {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.plus-button {
  background-image: url('path-to-your-image.png');
  background-size: cover;
  width: 100px;  
  height: 100px;
  border: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89vh;
}


@media screen and (max-width: 800px) {
  .modal-content {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background: white;
  }
}

@media screen and (max-width: 650px) {
  .hamburger{
    display: none;
  }

}

@media screen and (min-width: 650px) {
  .hamburger-menu{
    display: none;
  }
  .main{
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
  }
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Main image container */
.main-image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.main-image-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

/* Thumbnails slider */
.thumbnails-slider {
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
}

.thumbnails-slider img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
}

.thumbnails-slider img.selected {
  border-color: blue;
}

/* Navigation buttons for slider */
.prev-button,
.next-button {
  position: absolute;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
